*{
	margin: 0;
	box-sizing: border-box;
}
html{
	overflow-x: hidden;
	position: relative;
	min-height: 100%;
}
body{
	font-family: cursive;
	line-height: 163%;
	margin: 0 0 150px 0;
}
header, footer{
	background-color: rgb(241, 190, 95);
	padding: 20px;
	text-align: center;
}
#title-1{
	font-size: 44px;
	padding: 10px;
	text-transform: uppercase;
}
#washera{
	color: rgb(233, 116, 116);
}
#academy{
	color: rgb(23, 231, 73);
}
.menu-list{
	margin: 15px auto;
}
.menu-list li{
	display: inline-block;
	margin-right: 15px;
}
.menu-list li a{
	color: white;
	text-decoration: none;
}
.active{
	border-bottom: 3px solid red;
	padding: 3px;
}
main{
	padding: 30px 50px 30px 50px;
}
.videos{
	text-align: center;
}
.audio h2{
	margin: 5px;
	font-weight: 400;
}
video{
	width: 80%;
	margin: 50px auto;
}
.audio{
	margin: 15px auto;
}
.page-section{
	margin: 30px auto;
	padding: 30px;
	border-radius: 5px;
}
.introduction{
	background-color: rgb(100, 71, 155);
	color: white;
}
.section-2{
	background-color: khaki;
}	
h1{
	margin: 10px auto;
	text-transform: uppercase;
}
meter{
	height: 30px;
	width: 100px;
}
progress{
	height: 50px;
	width: 75%;
}
.technologies{
	padding: 30px;
	background-color: rgb(214, 130, 50);
	color: white;
}
pre span{
	color: rgb(31, 85, 233);
}
table, th, td{
	border: 2px solid rgb(100, 211, 100);
	border-collapse: collapse;

}
table{
	width: 50%;
	margin: 50px auto;
}
thead{
	background-color: rgb(135, 80, 236);
	color: white;
}
table, td, th{
	border: 1px solid rgb(135, 80, 236);
	font-weight: 360;
}
td{
	padding-left: 10px;
}
.box-wrapper{
	z-index: -100;
	position: relative;
	background-color: lightblue;
	height: 500px;
	width: 100%%;
}
.box{
	position: absolute;
	height: 150px;
	width: 150px;
	border: 10px solid rgb(241, 236, 236);
	text-align: center;
	line-height: 150px;
	font-size: 90px;
	color: white;
	display: inline-block;
}
#box1{
	background-color: rgb(101, 236, 101);
	bottom: 0;
}
#box2{
	background-color: rgb(224, 75, 75);
	left: 0px;
	top: 0px;
}
#box3{
	background-color: rgb(238, 207, 69);
	right: 0px;
	top:  0px;
}
#box4{
	background-color: purple;
	right: 0px;
	bottom: 0px;
}
.web-tech{
	position: absolute;
	height: 150px;
	width: 150px;
	text-align: center;
	line-height: 150px;
	color: white;
	display: inline-block;
	left: 470px;
	top: 150px;
}
#html{
	background: rgb(243, 102, 20);
	z-index: 3;
}
#css{
	left: 580px;
	background-color: rgb(12, 118, 240);
	top: 165px;
	z-index: 1;
}
#js{	
	left: 710px;
	background-color: rgb(236, 218, 53);
	top:  180px;
	z-index: 2;
}
.tech-1{
	background: rgb(42, 28, 93);
}
.tech-2{
	background: rgb(119, 91, 219);
}
.meters{
	background: rgb(34, 32, 32);
	color: white;
}
.progresses{
	background: rgb(107, 57, 172);
	color: white;
}
.detailsummary{
	background: rgb(231, 189, 49);
}
footer{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.footer-wrapper  a{
	margin: 25px;
}
form{
	width: 55%;
}
.form-group{
	margin: 10px auto;
}
input[type='text'], input[type="email"], input[type="date"], input[type="password"], textarea, select{
	display: block;
	padding:  8px;
	width: 60%;
	border-radius: 3px;
	border: 2px solid rgba(203, 93, 93, 0.25);
	margin-top: 5px;
}
input[type='text']:hover, input[type="email"]:hover, input[type="date"]:hover, input[type="password"]:hover, textarea:hover, select: hover{
	border: 2px solid rgba(203, 93, 93, 1);
}
.btn{
	padding: 10px 25px;
	background: rgb(69, 204, 69);
	color: white;
	border: 2px solid rgb(69, 204, 69);
	border-radius: 5px;
	cursor: pointer;
	font-weight: 900;
	text-transform: uppercase;
}
.htmllogo{
	border: 1px solid black;
	border-radius: none;
	display: inline-block;
	background-color: lightgray;
	padding: 10px;
}